var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#commnets').prepend(new_comment);
$('#commnet_<%= @commnet.id %>').fadeIn('slow');
$('#new_comment')[0].reset();